<% if (
    (is_home()) && 
    (site.pages) && 
    (site.pages.filter(function(item){return item.layout == "bio"}).first())
    ) { %>
    <section id="bio">
        <%- partial('_partial/bio', {item: site.pages.filter(function(item){return item.layout == "bio"}).first(), index: true}) %>
    </section>
<% } %>

<section id="articles">
    <%- link_to("/blog/", '<h1 class="title">Latest Blog Post</h1>', {title: "Visit my blog"}) %>
    <%- partial('_partial/article', {item: page.posts.first(), index: true}) %>

    
    
</section>