<article>
    <header>
        <h1><a href="<%- config.root %><%- page.path %>"><%- page.title %></a></h1>
    </header>
    <div class="entry">
        <%- page.content %>
    </div>
    <footer>
    </footer>
</article>