<nav>
    <ul class="contact-links">
        <% Object.keys(theme.links.socialmedia).forEach(function(key){ %>
            <li><%- link_to(theme.links.socialmedia[key], '<i class="fa fa-' + key.toLowerCase() + '" aria-hidden="true"></i>', {external: true, title: key}) %></li>
        <% }); %>
        <% if (theme.links.email) { %>
            <li><%- link_to('mailto:' + theme.links.email, '<i class="fa fa-envelope" aria-hidden="true"></i>', {title: "Email"}) %></li>
        <% } %>
    </ul>
</nav>