// Colour Scheme
$base = #FFFCF9 // Background and contrasting text.
//$base = #f6f7eb // Background and contrasting text.
$feature = #3f7cac // Hyperlinks, buttons etc.
$text = #444  // Body text
//$text = #000  // Body text

$base-dark = desaturate(darken($base, 45%), 95%) // Hover over contrast buttons.
$feature-light = desaturate(lighten($feature, 27%), 15%) // Hover over buttons & hyperlinks

$feature-lightest = desaturate(lighten($feature, 70%), 10%) 

// Images
$titlescreen-background = "../images/bio-background-2.png"
$profilepic = "../images/profile_golden.png"