// Colour Scheme
$base = #f6f7eb // Background and contrasting text.
$feature = #3f7cac // Hyperlinks, buttons etc.
$text = #000 // Body text

$base-dark = desaturate(darken($base, 45%), 95%) // Hover over contrast buttons.
$feature-light = desaturate(lighten($feature, 27%), 15%) // Hover over buttons & hyperlinks

// Images
$titlescreen-background = "../images/bio-background.png"
$profilepic = "../images/profile_golden.png"