<nav class="pagination">
    <%- paginator({
        prev_text: '<i class="fa fa-chevron-left" aria-hidden="true"></i> Previous',
        next_text: 'Next <i class="fa fa-chevron-right" aria-hidden="true"></i>'
        }) %>
</nav>