<div id="titlepanel" <% if (is_home()) { %>class="index"<% } %>>
    <h1 class="title"><%- config.author %></h1>
    <% if (!is_home()) { %>
        <div class="profile-pic">
        </div>
        <section class="bio">
            // Bio
        </section>
    <% } else { %>
    <h2><%- config.subtitle %></h2>
    <% } %> 
    
    <%- partial('_widget/contactlinks') %>
</div>